[Unit]
Description=bluetooth manager systray
After=network.target

[Service]
Type=simple

ExecStart=/usr/bin/blueman-applet

KillMode=process
Restart=on-failure

NoNewPrivileges=True

[Install]
WantedBy=default.target
