[Unit]
Description=network manager systray
After=network.target

[Service]
Type=simple

ExecStart=/usr/bin/nm-applet

KillMode=process
Restart=on-failure

NoNewPrivileges=True

[Install]
WantedBy=default.target
